services:
  web:
    image: ghcr.io/jacobwn/househub/web:${IMAGE_TAG}
    container_name: prod-web
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      DATABASE_URL: "${DATABASE_URL}"
    networks:
      - prod_network
  nginx:
    image: ghcr.io/jacobwn/househub/nginx:${IMAGE_TAG}
    container_name: prod-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/househub-data/certs/letsencrypt:/etc/letsencrypt:ro
      - /srv/househub-data/webroot:/var/www/certbot:ro
      - /srv/househub-infra/nginx/prod.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - prod_network
    depends_on:
      - web
    
networks:
  prod_network:
    external: true
volumes:
  postgres_data: