services:
  postgres:
    image: postgres:18-bookworm
    container_name: prod-postgres
    restart: unless-stopped
    expose:
      - "5432"
    environment:
      POSTGRES_USER: prod_user
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: househub_prod
    volumes:
        - postgres_data:/var/lib/postgresql
    networks:
      - prod_network

networks:
  prod_network:
    external: true
volumes:
  postgres_data:
