services:
  web:
    image: ghcr.io/jacobwn/househub/web:${IMAGE_TAG}
    container_name: staging-web
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      DATABASE_URL: "postgresql://myuser:mypass@postgres:5432/mydb?schema=public"
    depends_on: 
      - postgres
    networks:
      - staging_network
  nginx:
    image: ghcr.io/jacobwn/househub/nginx:${IMAGE_TAG}
    container_name: staging-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/househub-data/certs/letsencrypt:/etc/letsencrypt:ro
      - /srv/househub-data/webroot:/var/www/certbot:ro
      - /srv/househub-infra/nginx/staging.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - staging_network
    depends_on:
      - web
    

volumes:
  postgres_data:
