services:
  postgres:
    image: postgres:18-bookworm
    expose:
      - "5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    volumes:
        - postgres_data:/var/lib/postgresql
  web:
    image: ghcr.io/jacobwn/househub/web:${IMAGE_TAG}
    expose:
      - "3000"
    environment:
      DATABASE_URL: "postgresql://myuser:mypass@postgres:5432/mydb?schema=public"
    depends_on: 
      - postgres
  nginx:
    image: ghcr.io/jacobwn/househub/nginx:${IMAGE_TAG}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/househub-data/certs/letsencrypt:/etc/letsencrypt:ro
      - /srv/househub-data/webroot:/var/www/certbot:ro
      - /srv/househub-infra/nginx/prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  postgres_data:
